body {
    font-family: Lato;
}

/* heading starts from here */

header {
    background-color: rgba(229, 84, 115, 0.10);
    padding-left: 230px;
    width: 1920px;
    height: 850px;
}

.h-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.h-info {
    padding-top: 130px;
}

.h-title {
    color: #272727;
    font-size: 80px;
    font-weight: 900;
}

.h-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}

.b-primary {
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 40px;
    color: white;
}

.h-img {
    width: 635px;
    height: 800px;
    padding-top: 50px;
}

/* main starts from here  */

/* bonus section  */

.bonus-featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px;
    width: 1920px;
    gap: 10px;
}

.f-c-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}

.f-c-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.featured-flower {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.f-f-img {
    align-items: center;
}

#wing6 {
    padding: 110px 78px 0px 76px;
}

#wing5 {
    padding: 117px 47px 51px 47px;
}

#wing7 {
    padding: 67px 75px 0px 75px;
}

.f-f-first {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-bottom: 0px;
    padding-top: ;
}

.f-f-second {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    /* padding-bottom: 50px; */
}

.f-f-third {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    /* padding-bottom: 0px; */
}

h5 {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* Myown created section  */

.bonus-myown-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px;
    width: 1920px;
    gap: 10px;
}

.p-c-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}

.p-c-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.product-pic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.p-p-img {
    align-items: center;
}

#product-one {
    padding: 80px 78px 20px 76px;
}

#product-two {
    padding: 117px 47px 51px 40px;
}

#product-three {
    padding: 50px 75px 10px 75px;
}

.p-p-first {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 300px 300px;
    background: rgba(167, 33, 98, 0.15);
}

.p-p-second {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 300px 300px;
    background: rgba(5, 151, 160, 0.15);
    /* padding-bottom: 50px; */
}

.p-p-third {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 300px 300px;
    background: rgba(71, 125, 17, 0.15);
    /* padding-bottom: 0px; */
}

h5 {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* optional section starts here  */

.optional {
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin: 120px 240px 100px 350px;
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    text-align: center;
}


/* hot deal section  */

.hot-deal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1920px;
    height: 620px;
    margin-top: 200px;
    padding-left: 215px;
    /* padding-right: 430px; */
    gap: 10px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.deal-container {
    text-align: center;
    align-items: center;
    padding-left: 270px;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 900;
}

span {
    color: #E55473;
}

.deal-des {
    padding-bottom: 10px;
}

.deal-pic {
    padding-right: 430px;
}

/* instagram section starts here  */

.instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    width: 1920px;
    /* gap: 24px; */
}

.i-container {
    padding-left: 300px;
    padding-bottom: 20px;
    text-align: center;
}

.i-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}

.i-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.i-pic {
    padding-left: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 24px;

}

.i-pic img {
    width: 342px;
    height: 396px;
}

/* Get the deal section starts here  */

.get-the-deal {
    margin-top: 150px;
    margin-left: 350px;
    /* padding: 100px 100px; */
    width: 1920px;
    height: 700px;
    background-size: 1440px 450px;
    background-image: url('assets/Rectangle\ 9.png');
    background-repeat: no-repeat;
}

.gtd-title {
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 900;
    padding-top: 120px;
    padding-left: 200px;
    padding-right: 635px;
    padding-bottom: 0px;

}

.gtd-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 200px;
    padding-right: 635px;
    padding-top: 0px;
}

.gtd-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-left: 285px;
    padding-right: 285px;
    padding-top: 0px;
}

#email {
    width: 650px;
    height: 60px;
    border: none;
    gap: 15px;
    padding-left: 10px;
}

.b-suscribe {
    width: 150px;
    height: 60px;
}

/* footer starts here   */
 
footer {
    margin: 0px;
    width: 2000px;
    height: 450px;
    text-align: center;
    background: #111010;
}

.f-title {
    font-size: 48px;
    font-weight: 900;
    color: white;
    /* text-align: center; */
    padding-top: 125px;
}

.f-des {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.copy-right {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}